@model IEnumerable<ChieuTrucDB.Models.Category>
@{
    ViewBag.Title = "GanSanPham";
}
@foreach (var item in Model)
{
    <a href="@Url.Action("TheLoaiSanPham", "Home", new {id=item.id})">@item.name</a>
}