USE [ChieuTrucBD]
GO
/****** Object:  StoredProcedure [dbo].[AddKhachHangEmail]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP PROCEDURE [dbo].[AddKhachHangEmail]
GO
ALTER TABLE [dbo].[SanPhams] DROP CONSTRAINT [FK_dbo.SanPhams_dbo.DMSanPhams_MaDanhMucSanPham]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_dbo.Products_dbo.Categories_cateId]
GO
ALTER TABLE [dbo].[HinhAnhSanPhams] DROP CONSTRAINT [FK_dbo.HinhAnhSanPhams_dbo.SanPhams_IdSanPham]
GO
ALTER TABLE [dbo].[Distributors] DROP CONSTRAINT [FK_dbo.Distributors_dbo.DanhMucHeThongs_MaDanhMucHeThong]
GO
/****** Object:  Table [dbo].[ThongTinDNs]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[ThongTinDNs]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[SanPhams]
GO
/****** Object:  Table [dbo].[QuyenLois]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[QuyenLois]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[MaintCenters]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[MaintCenters]
GO
/****** Object:  Table [dbo].[KhachHangThanThiets]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[KhachHangThanThiets]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[HoaDons]
GO
/****** Object:  Table [dbo].[HinhAnhSanPhams]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[HinhAnhSanPhams]
GO
/****** Object:  Table [dbo].[DMSanPhams]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[DMSanPhams]
GO
/****** Object:  Table [dbo].[Distributors]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[Distributors]
GO
/****** Object:  Table [dbo].[DanhMucHeThongs]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[DanhMucHeThongs]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[Contacts]
GO
/****** Object:  Table [dbo].[ContactInfoes]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[ContactInfoes]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[ChiTietHoaDons]
GO
/****** Object:  Table [dbo].[ChinhSachBHs]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[ChinhSachBHs]
GO
/****** Object:  Table [dbo].[CauHois]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[CauHois]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  User [ChieuTrucBD_user]    Script Date: 7/23/2020 10:07:17 PM ******/
DROP USER [ChieuTrucBD_user]
GO
/****** Object:  User [ChieuTrucBD_user]    Script Date: 7/23/2020 10:07:17 PM ******/
CREATE USER [ChieuTrucBD_user] FOR LOGIN [ChieuTrucBD_login] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ChieuTrucBD_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ChieuTrucBD_user]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ChieuTrucBD_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ChieuTrucBD_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ChieuTrucBD_user]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[valid] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CauHois]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHois](
	[IdCauHoi] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](450) NULL,
	[ChiTiet] [ntext] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CauHois] PRIMARY KEY CLUSTERED 
(
	[IdCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChinhSachBHs]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChinhSachBHs](
	[IdChinhSachBH] [bigint] IDENTITY(1,1) NOT NULL,
	[ChiTiet] [ntext] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ChinhSachBHs] PRIMARY KEY CLUSTERED 
(
	[IdChinhSachBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[id] [bigint] NOT NULL,
	[IdHoaDon] [bigint] NOT NULL,
	[IdSanPham] [bigint] NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactInfoes]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInfoes](
	[IdContactInfo] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhauEmail] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[DienThoai] [nvarchar](max) NOT NULL,
	[FAX] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[BanDo] [nvarchar](max) NULL,
	[ChiNhanh] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContactInfoes] PRIMARY KEY CLUSTERED 
(
	[IdContactInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[IdContact] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[IdContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucHeThongs]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucHeThongs](
	[MaDanhMucHeThong] [nvarchar](128) NOT NULL,
	[TenDanhMucHeThong] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[UrlHinhAnh] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.DanhMucHeThongs] PRIMARY KEY CLUSTERED 
(
	[MaDanhMucHeThong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Distributors]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distributors](
	[IdDistributor] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNhaPhanPhoi] [nvarchar](200) NOT NULL,
	[MaDanhMucHeThong] [nvarchar](128) NULL,
	[UrlHinhAnh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Distributors] PRIMARY KEY CLUSTERED 
(
	[IdDistributor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DMSanPhams]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMSanPhams](
	[MaDanhMucSanPham] [nvarchar](128) NOT NULL,
	[TenDanhMucSanPham] [nvarchar](450) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DMSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaDanhMucSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhAnhSanPhams]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPhams](
	[IdHinhAnhSanPham] [bigint] IDENTITY(1,1) NOT NULL,
	[IdSanPham] [bigint] NOT NULL,
	[Url] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HinhAnhSanPhams] PRIMARY KEY CLUSTERED 
(
	[IdHinhAnhSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[IdHoaDon] [bigint] IDENTITY(1,1) NOT NULL,
	[IdKhachHang] [bigint] NOT NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[NgayXacNhan] [datetime] NULL,
	[TenKhachHang] [nvarchar](max) NULL,
	[DienThoai] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[HTThanhToan] [nvarchar](max) NULL,
	[HTGiaoHang] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HoaDons] PRIMARY KEY CLUSTERED 
(
	[IdHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHangThanThiets]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangThanThiets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.KhachHangThanThiets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaintCenters]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintCenters](
	[IdMaintCenter] [bigint] IDENTITY(1,1) NOT NULL,
	[TinhThanh] [nvarchar](100) NOT NULL,
	[BanDo] [ntext] NOT NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MaintCenters] PRIMARY KEY CLUSTERED 
(
	[IdMaintCenter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[amount] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[thumbnail] [nvarchar](250) NULL,
	[valid] [bit] NOT NULL,
	[cateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuyenLois]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenLois](
	[IdQuyenLoi] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](450) NULL,
	[ChiTiet] [ntext] NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.QuyenLois] PRIMARY KEY CLUSTERED 
(
	[IdQuyenLoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[IdSanPham] [bigint] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [nvarchar](max) NULL,
	[TenSanPham] [nvarchar](450) NULL,
	[MaDanhMucSanPham] [nvarchar](128) NULL,
	[GiaTien] [decimal](18, 2) NULL,
	[SoLuong] [decimal](18, 2) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[OutOfStock] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SanPhams] PRIMARY KEY CLUSTERED 
(
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinDNs]    Script Date: 7/23/2020 10:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDNs](
	[IdThongTinDN] [bigint] IDENTITY(1,1) NOT NULL,
	[LoaiThongTin] [nvarchar](450) NULL,
	[ChiTiet] [ntext] NULL,
	[NgaySua] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ThongTinDNs] PRIMARY KEY CLUSTERED 
(
	[IdThongTinDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [valid]) VALUES (2, N'Chiếu Cho Học Sinh', 1)
INSERT [dbo].[Categories] ([id], [name], [valid]) VALUES (3, N'Chiếu In Hoa', 1)
INSERT [dbo].[Categories] ([id], [name], [valid]) VALUES (4, N'Chiếu Hạt', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CauHois] ON 

INSERT [dbo].[CauHois] ([IdCauHoi], [TieuDe], [ChiTiet], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [TrangThai]) VALUES (9, N'Hướng dẫn sử dụng và khắc phục lỗi trong quá trình sử dụng', N'<p><img id="anh11" src="https://www.upsieutoc.com/images/2020/04/14/111a2249a3904083d.png" style="float:right; height:180px; margin-left:10px; margin-top:80px; width:200px" /></p>

<p>&nbsp;</p>

<p><strong>1. Chiếu tr&uacute;c tăm</strong></p>

<p style="text-align:justify">Chiếu tr&uacute;c tăm c&oacute; kết cấu l&agrave; c&aacute;c thanh tre, thanh tr&uacute;c dẹp, mỏng, d&agrave;i được đan lại bằng chỉ. Sau đ&oacute; được &eacute;p keo tr&ecirc;n mặt lớp vải l&oacute;t, v&agrave; ho&agrave;n th&agrave;nh bằng việc may viền chiếu. C&aacute;c thanh n&agrave;y trong qu&aacute; tr&igrave;nh sử dụng c&oacute; thể gặp phải c&aacute;c t&igrave;nh huống như sau:</p>

<p style="text-align:justify">Bị g&atilde;y, bị bong khỏi lớp vải l&oacute;t, c&aacute;c viền bị bục chỉ may, ..</p>

<p style="text-align:justify">Để xử l&yacute; c&aacute;c vấn đề tr&ecirc;n, chỉ cần d&ugrave;ng keo 502, bột gỗ, chấm v&agrave;o c&aacute;c chỗ bị lỗi. Sau đ&oacute; lấy giấy nh&aacute;m mịn ch&agrave; l&ecirc;n mặt tr&uacute;c cho sạch lớp keo l&agrave; sử dụng b&igrave;nh thường.</p>

<p style="text-align:justify">Để chiếu sử dụng l&acirc;u d&agrave;i, bền, đẹp, chiếu n&ecirc;n đặt tr&ecirc;n bề mặt nệm cứng, c&oacute; độ d&agrave;y kh&ocirc;ng qu&aacute; 10cm. Khi chiếu bị bẩn, kh&ocirc;ng ng&acirc;m nước, m&agrave; n&ecirc;n d&ugrave;ng v&ograve;i xịt nước trực tiếp v&agrave;o mặt chiếu, rồi phơi kh&ocirc;.</p>

<p>&nbsp;</p>

<p><strong>2. Chiếu tr&uacute;c hạt</strong></p>

<p><img id="anh21" src="https://www.upsieutoc.com/images/2020/04/14/29c927594d9dc6deb.png" style="float:left; height:250px; margin-right:10px; width:300px" /></p>

<p>Trong qu&aacute; tr&igrave;nh sử dụng chiếu tr&uacute;c hạt c&oacute; thể gặp phải c&aacute;c lỗi như: hạt bị vỡ, bể, bị đứt cước.</p>

<p style="text-align:justify">Trường hợp chiếu bị bể hạt cũng thường xẩy ra do c&aacute;c nguy&ecirc;n nh&acirc;n như gấp chiếu kh&ocirc;ng đ&uacute;ng c&aacute;ch dẫn đ&ecirc;n c&aacute;c hạt chiếu kh&ocirc;ng nằm thẳng h&agrave;ng v&agrave; chồng n&ecirc;n nhau n&ecirc;n mắt chiếu dễ bị bể hoặc vỡ hạt nếu c&oacute; th&ecirc;m lực t&aacute;c đồng từ b&ecirc;n ngo&agrave;i.</p>

<p style="text-align:justify">Trường hợp chiếu bị đứt cước cũng thường xuy&ecirc;n gặp trong qu&aacute; tr&igrave;nh sử dụng, trong đ&oacute; c&oacute; cả nguy&ecirc;n nh&acirc;n chủ quan v&agrave; kh&aacute;ch quan.</p>

<p style="text-align:justify">Nguy&ecirc;n nh&acirc;n ch&iacute;nh l&agrave; do chiếu bị k&eacute;o qu&aacute; căng khi sử dụng dẫn đến d&acirc;y cước bị k&eacute;o d&atilde;n ra l&acirc;u ng&agrave;y sẽ mất t&iacute;nh đ&agrave;n hồi từ đ&oacute; bị đứt.</p>

<p style="text-align:justify">Để tr&aacute;nh c&aacute;c lỗi về chiếu tr&uacute;c hạt th&igrave; lời khuy&ecirc;n l&agrave; n&ecirc;n trải chiếu ở bề mặt phẳng, tr&aacute;nh nơi gồ ghề v&agrave; sắc nhọn, đặc biệt khi di chuyển chiếu cần gấp th&agrave;nh lớp theo nguy&ecirc;n tắc gấp dọc chiếu trước, gấp ngang sau.</p>

<p><strong>L&agrave;m g&igrave; khi chiếu tr&uacute;c vỡ hạt?</strong></p>

<p><img id="anh31" src="https://www.upsieutoc.com/images/2020/04/14/3f1cc55adf417e945.png" style="-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; float:left; height:200px; margin-right:10px; width:200px" /></p>

<p>Chiếu tr&uacute;c hay c&ograve;n gọi l&agrave; chiếu tre l&agrave; một vật dụng rất bền. Nếu bạn mua chiếu tr&uacute;c chất lượng th&igrave; c&oacute; thể sử dụng từ 10 &ndash; 15 năm, v&agrave; c&oacute; thể l&agrave; l&acirc;u hơn nữa. Kh&aacute;c với c&aacute;c loại chiếu kh&aacute;c, khi bị thuộc chỉ hay tuột cước l&agrave; sẽ dẫn dần hỏng hết cả chiếc chiếu. Chiếu tr&uacute;c được kết từ nhiều hạt tr&uacute;c, c&aacute;c hạt trục đều được kết bằng cước. Khi 1 hạt tr&uacute;c bị bung ra th&igrave; chỉ mắt tr&uacute;c đ&oacute; bị bung, kh&ocirc;ng ảnh hưởng đến c&aacute;c hạt tr&uacute;c kh&aacute;c. V&igrave; vậy, bạn chỉ cần mua hạt tr&uacute;c ph&ugrave; hợp thay thế những hạt tr&uacute;c bị vỡ.</p>

<p style="text-align:justify">Nếu bạn mua chiếu tr&uacute;c tr&ocirc;i nổi tr&ecirc;n thị trường, th&igrave; khi chiếu tr&uacute;c bị vỡ hạt, bạn rất kh&oacute; mua hạt tr&uacute;c lẻ. Ch&iacute;nh v&igrave; vậy, để c&oacute; thể thuận tiện trong qu&aacute; tr&igrave;nh sử dụng l&acirc;u d&agrave;i b&ecirc;n n&ecirc;n mua chiếu tr&uacute;c ở những cửa h&agrave;ng uy t&iacute;n. Như vậy bạn sẽ được bảo h&agrave;nh chiếu tr&uacute;c v&agrave; hộ trợ khi chiếu tr&uacute;c bị vỡ hạt.</p>

<p>&nbsp;</p>

<p><img id="anh41" src="https://www.upsieutoc.com/images/2020/04/14/4.png" style="float:right; height:160px; margin-left:10px; margin-top:70px; width:300px" /></p>

<p><strong>L&agrave;m g&igrave; khi chiếu bị đứt cước?</strong></p>

<p style="text-align:justify">Khi chiếu bị đứt cước, bạn chỉ việc lu&ocirc;n cước qua hạt chiếu v&agrave;o d&acirc;y g&acirc;n, thắt chặt 2 đầu l&agrave; sử dụng b&igrave;nh thường. C&aacute;c d&acirc;y cước hiện c&oacute; b&aacute;n tại c&aacute;c cửa h&agrave;ng đồ c&acirc;u c&aacute;, cửa h&agrave;ng vật liệu x&acirc;y dựng.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Ph&ograve;ng kỹ thuật</p>

<p>&nbsp;</p>

<p>Chiếu tr&uacute;c B&igrave;nh Dương BDMAT</p>

<p>&nbsp;</p>
', CAST(N'2019-11-10 07:41:27.340' AS DateTime), NULL, CAST(N'2020-07-10 16:15:47.020' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[CauHois] OFF
SET IDENTITY_INSERT [dbo].[ChinhSachBHs] ON 

INSERT [dbo].[ChinhSachBHs] ([IdChinhSachBH], [ChiTiet], [NgayCapNhat], [TrangThai]) VALUES (1, N'<p style="text-align:justify"><strong>1.&nbsp;Đối với những sản phẩm b&aacute;n ra trong v&ograve;ng 01 tuần nếu c&oacute; vấn đề g&igrave; trục trặc:</strong><br />
-BDMAT đổi ngay cho qu&yacute; kh&aacute;ch h&agrave;ng một sản phẩm mới 100% ngay lập tức.<br />
- Y&ecirc;u cầu: c&aacute;c sản phẩm phải c&ograve;n nguy&ecirc;n trạng, kh&ocirc;ng bị trầy xước, cũ bẩn, thay đổi h&igrave;nh dạng&hellip;<br />
<strong>2.&nbsp;Đối với những sản phẩm bảo h&agrave;nh:</strong><br />
- Qu&yacute; kh&aacute;ch giao c&aacute;c sản phẩm cần bảo h&agrave;nh cho đại l&yacute;, cửa h&agrave;ng gần nhất. BDMAT sẽ sửa chữa c&aacute;c lỗi sản phẩm v&agrave; ho&agrave;n trả cho kh&aacute;ch h&agrave;ng trong thời hạn kh&ocirc;ng qu&aacute; 3 ng&agrave;y l&agrave;m việc tại B&igrave;nh dương, Đồng nai, Tp. HCM. C&aacute;c khu vực kh&aacute;c kh&ocirc;ng qu&aacute; 1 tuần.<br />
- Trường hợp qu&yacute; kh&aacute;ch h&agrave;ng ở q&uacute;a xa c&aacute;c đại l&yacute;, cửa h&agrave;ng c&oacute; b&aacute;n sản phẩm BDMAT, hoặc muốn tự sửa chữa, qu&yacute; kh&aacute;ch h&agrave;ng vui l&ograve;ng gọi trực tiếp tới C&ocirc;ng ty. BDMAT sẽ tư vấn, hướng dẫn để qu&yacute; kh&aacute;ch tự sửa chữa sản phẩm. Qu&yacute; kh&aacute;ch cũng c&oacute; thể xem c&aacute;ch khắc phục, sửa chữa c&aacute;c loại chiếu trong mục HƯỚNG DẪN SỬ DỤNG CHIẾU.<br />
<strong>3.&nbsp;Những trường hợp kh&ocirc;ng được bảo h&agrave;nh:</strong><br />
- Sản phẩm hết thời hạn bảo h&agrave;nh 1 năm.<br />
- Sản phẩm hỏng h&oacute;c do t&aacute;c động cơ học, biến dạng, rơi, vỡ, va đập, bị xước, bị hỏng do ẩm ướt, động vật x&acirc;m nhập v&agrave;o, thi&ecirc;n tai, hoả hoạn, sử dụng sai c&aacute;c hướng dẫn sử dụng, ch&aacute;y nổ hoặc con người l&agrave;m hỏng.<br />
<strong>4.&nbsp;Thắc mắc, khiếu nại về vấn đề bảo h&agrave;nh:</strong><br />
-Mọi thắc mắc, khiếu nại về vấn đề bảo h&agrave;nh xin qu&yacute; kh&aacute;ch vui l&ograve;ng li&ecirc;n hệ theo số điện thoại&nbsp;0944 666 156<br />
BDMAT xin ch&acirc;n trọng cảm ơn Qu&yacute; kh&aacute;ch !</p>
', CAST(N'2020-04-23 22:21:43.353' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ChinhSachBHs] OFF
SET IDENTITY_INSERT [dbo].[ContactInfoes] ON 

SET IDENTITY_INSERT [dbo].[ContactInfoes] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([IdContact], [Name], [Email], [Phone], [Message], [NgayGui], [TrangThai]) VALUES (5, N'Phan Thành Tài', N'abc@gmail.com', N'Lời nhắn mới từ Phan Thành Tài (abc@gmail.com)', N'abc', CAST(N'2019-10-20 10:56:19.960' AS DateTime), 0)
INSERT [dbo].[Contacts] ([IdContact], [Name], [Email], [Phone], [Message], [NgayGui], [TrangThai]) VALUES (6, N'sasa', N'aaa@aaa.com.vn', N'aaa', N'aa', CAST(N'2019-10-20 10:59:18.200' AS DateTime), 1)
INSERT [dbo].[Contacts] ([IdContact], [Name], [Email], [Phone], [Message], [NgayGui], [TrangThai]) VALUES (7, N'Phan Thành Tài', N'nhoklong741997@gmail.com', N'Lời nhắn mới từ Phan Thành Tài (nhoklong741997@gmail.com)', N'xin chào', CAST(N'2019-10-20 12:35:32.483' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
INSERT [dbo].[DanhMucHeThongs] ([MaDanhMucHeThong], [TenDanhMucHeThong], [MoTa], [UrlHinhAnh], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [TrangThai]) VALUES (N'CH', N'Cửa hàng', NULL, NULL, CAST(N'2019-10-21 11:11:45.297' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[DanhMucHeThongs] ([MaDanhMucHeThong], [TenDanhMucHeThong], [MoTa], [UrlHinhAnh], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [TrangThai]) VALUES (N'ST', N'Siêu thị', NULL, NULL, CAST(N'2019-10-21 11:11:17.657' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[DanhMucHeThongs] ([MaDanhMucHeThong], [TenDanhMucHeThong], [MoTa], [UrlHinhAnh], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [TrangThai]) VALUES (N'TMOL', N'Các trang mạng online', NULL, NULL, CAST(N'2020-06-18 00:00:00.000' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Distributors] ON 

INSERT [dbo].[Distributors] ([IdDistributor], [TenNhaPhanPhoi], [MaDanhMucHeThong], [UrlHinhAnh], [MoTa], [DiaChi], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [TrangThai]) VALUES (4, N'Siêu thị 1', N'ST', N'/Data/files/t%E1%BA%A3i%20xu%E1%BB%91ng.jpg', N'Mô tả siêu thị 1', N'bình dương', CAST(N'2019-10-21 11:12:37.777' AS DateTime), NULL, CAST(N'2020-07-13 15:11:17.117' AS DateTime), NULL, 1)
INSERT [dbo].[Distributors] ([IdDistributor], [TenNhaPhanPhoi], [MaDanhMucHeThong], [UrlHinhAnh], [MoTa], [DiaChi], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [TrangThai]) VALUES (6, N'Cửa hàng 3', N'CH', N'/Data/files/images478849_3e.jpg', N'Mô tả cửa hàng', N'Phú Yên', CAST(N'2019-10-21 11:13:27.167' AS DateTime), NULL, CAST(N'2020-07-13 15:10:21.843' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Distributors] OFF
INSERT [dbo].[DMSanPhams] ([MaDanhMucSanPham], [TenDanhMucSanPham], [HinhAnh], [TrangThai], [Deleted], [MetaTitle], [MetaDescription], [MetaKeyword], [Tags], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (N'ChieuChoHocSinh', N'Chiếu cho học sinh', N'', 1, 0, N'chieu-hoc-sinh', NULL, NULL, NULL, CAST(N'2019-10-19 07:44:08.677' AS DateTime), NULL, CAST(N'2019-10-19 07:46:44.267' AS DateTime), NULL)
INSERT [dbo].[DMSanPhams] ([MaDanhMucSanPham], [TenDanhMucSanPham], [HinhAnh], [TrangThai], [Deleted], [MetaTitle], [MetaDescription], [MetaKeyword], [Tags], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (N'ChieuHat', N'Chiếu hạt', N'', 1, 0, N'chieu-hat', N'b', N'a', N'c', CAST(N'1999-03-21 00:00:00.000' AS DateTime), NULL, CAST(N'2019-10-16 07:24:26.547' AS DateTime), NULL)
INSERT [dbo].[DMSanPhams] ([MaDanhMucSanPham], [TenDanhMucSanPham], [HinhAnh], [TrangThai], [Deleted], [MetaTitle], [MetaDescription], [MetaKeyword], [Tags], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (N'ChieuInHoa', N'Chiếu in hoa', N'', 1, 0, N'chieu-in-hoa', N'aaa', N'aaa', N'aaa', CAST(N'2019-10-16 07:27:58.197' AS DateTime), NULL, CAST(N'2019-10-19 07:49:12.687' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HinhAnhSanPhams] ON 

INSERT [dbo].[HinhAnhSanPhams] ([IdHinhAnhSanPham], [IdSanPham], [Url], [TrangThai], [Deleted]) VALUES (62, 51, N'/Data/files/BDH1M62.jpg', 1, 0)
INSERT [dbo].[HinhAnhSanPhams] ([IdHinhAnhSanPham], [IdSanPham], [Url], [TrangThai], [Deleted]) VALUES (66, 44, N'/Data/images/BDH1M62.jpg', 1, 0)
INSERT [dbo].[HinhAnhSanPhams] ([IdHinhAnhSanPham], [IdSanPham], [Url], [TrangThai], [Deleted]) VALUES (67, 45, N'/Data/files/hat%202.jpg', 1, 0)
SET IDENTITY_INSERT [dbo].[HinhAnhSanPhams] OFF
SET IDENTITY_INSERT [dbo].[HoaDons] ON 

INSERT [dbo].[HoaDons] ([IdHoaDon], [IdKhachHang], [NgayDat], [TongTien], [NgayXacNhan], [TenKhachHang], [DienThoai], [DiaChi], [HTThanhToan], [HTGiaoHang], [TrangThai]) VALUES (1, 0, CAST(N'2020-07-15 00:00:00.000' AS DateTime), CAST(1018000.00 AS Decimal(18, 2)), NULL, N'CUong', N'0908135210', N'22', N'Thanh toán trước khi giao hàng', N'Giao trực tiếp', 0)
INSERT [dbo].[HoaDons] ([IdHoaDon], [IdKhachHang], [NgayDat], [TongTien], [NgayXacNhan], [TenKhachHang], [DienThoai], [DiaChi], [HTThanhToan], [HTGiaoHang], [TrangThai]) VALUES (5, 0, CAST(N'2020-07-16 00:00:00.000' AS DateTime), CAST(120000.00 AS Decimal(18, 2)), NULL, N'Hoài Phương', N'05461321', N'BD', N'Thanh toán trước khi giao hàng', N'Giao trực tiếp', 0)
INSERT [dbo].[HoaDons] ([IdHoaDon], [IdKhachHang], [NgayDat], [TongTien], [NgayXacNhan], [TenKhachHang], [DienThoai], [DiaChi], [HTThanhToan], [HTGiaoHang], [TrangThai]) VALUES (6, 0, CAST(N'2020-07-16 00:00:00.000' AS DateTime), CAST(2160000.00 AS Decimal(18, 2)), NULL, N'Hoài Phương', N'05461321', N'Phú giáo, Bình dương', N'Thanh toán trước khi giao hàng', N'Giao trực tiếp', 0)
SET IDENTITY_INSERT [dbo].[HoaDons] OFF
SET IDENTITY_INSERT [dbo].[KhachHangThanThiets] ON 

INSERT [dbo].[KhachHangThanThiets] ([Id], [Email]) VALUES (4, N'hoaiphuong@gmail.com')
INSERT [dbo].[KhachHangThanThiets] ([Id], [Email]) VALUES (5, N'hoaiphuong@gmail.com')
INSERT [dbo].[KhachHangThanThiets] ([Id], [Email]) VALUES (6, N'hoaiphuong@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHangThanThiets] OFF
SET IDENTITY_INSERT [dbo].[MaintCenters] ON 

SET IDENTITY_INSERT [dbo].[MaintCenters] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price], [amount], [description], [thumbnail], [valid], [cateId]) VALUES (7, N'Chiếu Cho Học Sinh Nhẹ', 130, 12, N'Chiếu cói Nga Sơn xuất Nhật 70 x 110 cm là sản phẩm được làm từ chất liệu tự nhiên, an toàn với làn da của bé. Sản phẩm thích hợp với khí hậu nhiệt đới nước ta, đặc biệt là vào mùa hè.', N'/ImageUpload/BDH1M62A.jpg', 1, 2)
INSERT [dbo].[Products] ([id], [name], [price], [amount], [description], [thumbnail], [valid], [cateId]) VALUES (8, N'Chieu Trúc Hạt', 120, 23, N'Điểm đặc biệt của chiêu hạt Đen có viền nằm ở chổ, sản phẩm không chỉ tốt về chất lượng, phát huy tối đa công dụng làm mát cho cơ thể, han chế tối đa việc bị hầm lưng khi nằm', N'/ImageUpload/hat 2.jpg', 1, 4)
INSERT [dbo].[Products] ([id], [name], [price], [amount], [description], [thumbnail], [valid], [cateId]) VALUES (9, N'Chiếu trúc hạt mắt ngọc cao cấp', 600, 12, N'Các hạt chiếu được làm từ những cây gài nhất, chỉ sự dụng phần thân và gốc cây, không dùng phần ngọn nên rất chắc chắn, dày và đặc biệt không bị vỡ mắt trong quá trình sử dụng.', N'/ImageUpload/hat den 1.jpg', 1, 4)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[QuyenLois] ON 

INSERT [dbo].[QuyenLois] ([IdQuyenLoi], [TieuDe], [ChiTiet], [NgaySua], [TrangThai]) VALUES (1, N'Theo dõi đơn hàng trực tuyến', N'fa fa-map-marker', CAST(N'2020-04-08 16:03:03.720' AS DateTime), 1)
INSERT [dbo].[QuyenLois] ([IdQuyenLoi], [TieuDe], [ChiTiet], [NgaySua], [TrangThai]) VALUES (2, N'Trả lại miễn phí & dễ dàng', N'fa fa-refresh', CAST(N'2020-04-08 16:03:24.483' AS DateTime), 1)
INSERT [dbo].[QuyenLois] ([IdQuyenLoi], [TieuDe], [ChiTiet], [NgaySua], [TrangThai]) VALUES (3, N'Hủy đơn hàng trực tuyến', N'fa fa-times', CAST(N'2020-04-08 16:03:45.187' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[QuyenLois] OFF
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

SET IDENTITY_INSERT [dbo].[SanPhams] OFF
SET IDENTITY_INSERT [dbo].[ThongTinDNs] ON 

INSERT [dbo].[ThongTinDNs] ([IdThongTinDN], [LoaiThongTin], [ChiTiet], [NgaySua], [TrangThai]) VALUES (1, N'Nội dung chính', N'<p><img alt="" src="/Data/images/1.jpg" style="float:left; height:258px; margin-right:15px; padding:5px; width:358px" />Từ n&uacute;i cao cực Bắc tới s&ocirc;ng nước C&agrave; Mau, mỗi v&ugrave;ng sinh th&aacute;i đều tươi xanh những lo&agrave;i thảo mộc, hoa tr&aacute;i đặc trưng. Nhưng th&acirc;n thương xiết bao, khi đ&acirc;u đ&acirc;u cũng bốn m&ugrave;a xanh những lũy tre tươi tốt. Từ Bắc ch&iacute; Nam, tr&ecirc;n n&uacute;i tr&ecirc;n đồi bạt ng&agrave;n tre, tr&uacute;c nứa giang vầu&hellip; Đồng bằng th&igrave; l&agrave;ng qu&ecirc; n&agrave;o cũng lũy lũy tầng tầng tre tr&uacute;c bao bọc, bờ đ&ecirc; n&agrave;o cũng tre xanh, tr&uacute;c v&agrave;ng chắn s&oacute;ng v&agrave; ngăn lũ, n&ecirc;n s&ocirc;ng qu&ecirc; &quot;nước gương trong soi t&oacute;c những h&agrave;ng tre&quot; (Tế Hanh).</p>

<p style="text-align:justify">Tre, tr&uacute;c, luồng, nứa, tầm v&ocirc;ng, vầu,&hellip; khắp mọi nẻo đường, ng&otilde; ng&aacute;ch, v&ugrave;ng, miền m&agrave; c&oacute; t&ecirc;n gọi kh&aacute;c nhau, nhưng đều l&agrave; bạn đồng h&agrave;nh thủy chung, th&acirc;n thiết của người d&acirc;n ta từ thuở xa xưa gian lao suốt nhiều thế kỷ khai hoang mở đất để rồi dựng nước. Những l&agrave;ng x&atilde; định cư với lũy tre xanh bao bọc ngăn gi&oacute; b&atilde;o, từ ấy đ&atilde; l&agrave; đặc trưng kh&ocirc;ng chỉ của kh&ocirc;ng gian sinh tồn của l&agrave;ng, m&agrave; c&ograve;n l&agrave; đặc trưng văn h&oacute;a - thẩm mỹ ri&ecirc;ng c&oacute; của l&agrave;ng qu&ecirc; Việt Nam. Trong s&acirc;u xa t&acirc;m thức người Việt từ thuở ấy, đ&atilde; b&igrave;nh y&ecirc;n v&agrave; xanh m&aacute;t b&oacute;ng y&ecirc;u thương.</p>

<p style="text-align:justify"><img alt="" src="/Data/images/2.jpg" style="float:right; height:250px; margin-left:15px; width:373px" />Tre, nứa theo người c&ugrave;ng một l&uacute;c l&agrave;m n&ecirc;n cả văn h&oacute;a vật thể lẫn văn h&oacute;a phi vật thể cho xứ sở ch&uacute;ng ta. Kiến tr&uacute;c ư? Th&igrave; nh&agrave; tranh tre nứa l&aacute;, với ph&ecirc;n với liếp tre đan. Tiện nghi ư? Th&igrave; n&agrave;o giường ch&otilde;ng, b&agrave;n ghế, tủ chạn... cho đến lắm thứ đồ ăn thức l&agrave;m: Nong nia, dần s&agrave;ng, th&uacute;ng mủng, rổ r&aacute;, cối xay tre... C&ocirc;ng cụ nh&agrave; n&ocirc;ng ư? Th&igrave; đ&ograve;n c&agrave;n đ&ograve;n x&oacute;c, quang g&aacute;nh... Đi lại tr&ecirc;n s&ocirc;ng nước, đ&aacute;nh bắt c&aacute; ư? Th&igrave; thuyền nan, thuyền th&uacute;ng, cần c&acirc;u, v&oacute; b&egrave;, nơm, đ&oacute;, dậm tre đan... Đồ chơi v&agrave; nhạc cụ ư? Th&igrave; que khăng, que chuyền, c&acirc;y đu, diều s&aacute;o, s&aacute;o, ti&ecirc;u, kh&egrave;n b&egrave;, đ&agrave;n tơ rưng tre nứa, cả c&acirc;y n&ecirc;u ng&agrave;y Tết v&agrave; cột cờ lễ hội đ&igrave;nh l&agrave;ng cũng l&agrave; v&ocirc;ng, l&agrave; tr&uacute;c...</p>

<p style="text-align:justify">Đ&oacute; l&agrave; thời đất nước chưa ph&aacute;t triển như hiện nay. Ở thời hiện đại, từ tre, từ tr&uacute;c, nứa c&ugrave;ng với song, m&acirc;y, m&agrave; n&ecirc;n nghề thủ c&ocirc;ng, mỹ nghệ với lắm thứ h&agrave;ng h&oacute;a tre tr&uacute;c song m&acirc;y, với những l&agrave;ng nghề tre m&acirc;y c&oacute; tiếng nay được n&acirc;ng niu như một dạng văn h&oacute;a phi vật thể.</p>

<p style="text-align:justify"><img alt="" src="/Data/images/3.jpg" style="float:left; height:217px; margin:0px 15px 0px 0px; width:354px" />V&agrave; đặc biệt hơn, kết hợp c&ocirc;ng nghệ v&agrave; kỹ thuật hiện đại, nhằm đ&aacute;p ứng nhu cầu cuộc sống kh&ocirc;ng ngừng tăng l&ecirc;n, sản phẩm chiếu l&agrave;m từ c&acirc;y tre, c&acirc;y tr&uacute;c vừa mang n&eacute;t truyền thống, chất mộc mạc, thi&ecirc;n nhi&ecirc;n; c&aacute;c thanh cật c&acirc;y tre, c&acirc;y tr&uacute;c tạo n&ecirc;n tấm chiếu bền, đẹp, an to&agrave;n sức khỏe, dễ sử sụng. Với hai loại chiếu tr&uacute;c, loại chiếu in hoa văn, chiếu mộc - loại trơn, đủ k&iacute;ch thước cho c&aacute;c loại giường ti&ecirc;u chuẩn: 1m2, 1m4, 1m6, 1m8. Sản phẩm chiếu tr&uacute;c ho&agrave;n to&agrave;n ph&ugrave; hợp với kh&iacute; hậu nhiệt đới, đặc biệt c&aacute;c tỉnh th&agrave;nh miền nam nắng n&oacute;ng quanh năm.</p>

<p style="text-align:justify">L&agrave; một sản phẩm xanh, th&acirc;n thiện m&ocirc;i trường, một lần nữa c&acirc;y tre c&acirc;y tr&uacute;c đi v&agrave;o giấc ngủ của mọi gia đ&igrave;nh Việt, tấm chiếu hạnh ph&uacute;c, tấm chiếu BDMAT!</p>
', CAST(N'2020-06-23 20:23:42.887' AS DateTime), 1)
INSERT [dbo].[ThongTinDNs] ([IdThongTinDN], [LoaiThongTin], [ChiTiet], [NgaySua], [TrangThai]) VALUES (2, N'Hình ảnh 1', N'/Data/files/1.jpg', CAST(N'2020-06-18 11:44:12.153' AS DateTime), 1)
INSERT [dbo].[ThongTinDNs] ([IdThongTinDN], [LoaiThongTin], [ChiTiet], [NgaySua], [TrangThai]) VALUES (3, N'Hình ảnh 2', N'/Data/files/2.jpg', CAST(N'2020-04-09 21:43:05.657' AS DateTime), 1)
INSERT [dbo].[ThongTinDNs] ([IdThongTinDN], [LoaiThongTin], [ChiTiet], [NgaySua], [TrangThai]) VALUES (5, N'Hình ảnh 3', N'/Data/files/3.jpg', CAST(N'2020-06-18 11:51:59.497' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ThongTinDNs] OFF
ALTER TABLE [dbo].[Distributors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Distributors_dbo.DanhMucHeThongs_MaDanhMucHeThong] FOREIGN KEY([MaDanhMucHeThong])
REFERENCES [dbo].[DanhMucHeThongs] ([MaDanhMucHeThong])
GO
ALTER TABLE [dbo].[Distributors] CHECK CONSTRAINT [FK_dbo.Distributors_dbo.DanhMucHeThongs_MaDanhMucHeThong]
GO
ALTER TABLE [dbo].[HinhAnhSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HinhAnhSanPhams_dbo.SanPhams_IdSanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPhams] ([IdSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhSanPhams] CHECK CONSTRAINT [FK_dbo.HinhAnhSanPhams_dbo.SanPhams_IdSanPham]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_cateId] FOREIGN KEY([cateId])
REFERENCES [dbo].[Categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_cateId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.DMSanPhams_MaDanhMucSanPham] FOREIGN KEY([MaDanhMucSanPham])
REFERENCES [dbo].[DMSanPhams] ([MaDanhMucSanPham])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.DMSanPhams_MaDanhMucSanPham]
GO
/****** Object:  StoredProcedure [dbo].[AddKhachHangEmail]    Script Date: 7/23/2020 10:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[AddKhachHangEmail]  
(  
   @Email nvarchar(MAX)
   
)  
as  
begin  
   Insert into KhachHangThanThiets values(@Email)  
End 
GO
