
<div class="search">
       @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
       { 
            <input type="text" class="keyword" name="txtTimKiem" placeholder="Tìm kiếm" value="" />
            <input type="submit" name="ok-search"  value="" />
        }
</div>
